<html>
    {% comment %} <div style="margin-left: 2%;">
        <h1 style="text-align: center;">Improving performance of evolutionary algorithms using docker containerization</h1>
        <br>
        <h3>{{equation}}</h3>
        <br>
        <form action="optimizationcode/" method="post">
            {% csrf_token %}
                <h3>Population Size</h3>
                <input type="text" placeholder="type population size" name="pop_size">
                <h3>Generation</h3>
                <input type="text" placeholder="type generation" name="gen">
                <h3>Lower Bound</h3>
                <input type="text" placeholder="type lower bound" name="lb">
                <h3>Upper Bound</h3>
                <input type="text" placeholder="type upper bound" name="ub">
                <button type='submit'>GO!!!</button>
        </form>
    </div> {% endcomment %}
{% comment %} <h3 style="text-align: center;">Improving performance of evolutionary algorithms using docker containerization</h3>
    <br>
<h4 style="text-align: center;">{{equation}}</h4>
    <br> {% endcomment %}
<p class="h3" style="text-align: center;">Improving Performance Of Evolutionary Algorithms Using Docker Containerization</p>
<br>
<p class="h4" style="text-align: center;">{{equation}}</p>
<br>
<div>
    
    <form action="optimizationcode/" method="post">
        {% csrf_token %}
    <div class="form-group">
        <label>Equation</label>
        <input type="text" class="form-control" placeholder="Type Equation" name="equation">
    </div>
    <div class="form-group">
        <label>Number of variables</label>
        <input type="text" class="form-control" placeholder="Type number of variables" name="leneq">
    </div>
    <div class="form-group">
        <label>Population Size</label>
        <input type="text" class="form-control" placeholder="Type Population Size" name="pop_size">
    </div>
    <div class="form-group">
        <label>Generation</label>
        <input type="text" class="form-control" placeholder="Type Generation" name="gen">
    </div>
    <div class="form-group">
        <label>Lower Bound</label>
        <input type="text" class="form-control" placeholder="Type Lower Bound" name="lb">
    </div>
    <div class="form-group">
        <label>Upper Bound</label>
        <input type="text" class="form-control" placeholder="Type Upper Bound" name="ub">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>
